body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.loading-container {
    width: 450px;
    height: 30px;
    border: 3px solid #64b5f6;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.loading-bar {
    width: 50%;
    height: 100%;
    background-color: #64b5f6;
    position: absolute;
    top: 0;
    left: -50%;
    animation: move-right 1.5s linear infinite;
}

@keyframes move-right {
    0% {
        left: -50%;
    }
    100% {
        left: 100%;
    }
}