body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    gap: 25px;
}

.plan {
    width: 230px;
    background: white;
    border-radius: 12px;
    padding: 25px 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    transition: 0.3s ease;
}

.plan:hover {
    transform: scale(1.05);
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.line {
    height: 5px;
    width: 100%;
    margin: 0 0 20px 0;
    border-radius: 4px;
}

.enterprise .line { background: #c51f5d; }
.professional .line { background: #dca228; }
.standard .line { background: #1f4b6e; }
.basic .line { background: #60a344; }

.price {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 5px;
}

.none {
    color: rgb(120,120,120);
    margin-bottom: 20px;
}

.features {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.btn {
    display: inline-block;
    padding: 12px 32px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}


.enterprise .btn { background: #c51f5d; }
.professional .btn { background: #dca228; }
.standard .btn { background: #1f4b6e; }
.basic .btn { background: #60a344; }
