*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}


.project{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    display: inline-block;
    overflow: hidden;
    box-shadow: 4px 4px 8px black;
    vertical-align: top;
    transition: border-bottom 0.5s ease;
}


.project img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: height 0.5s ease;
    display: block;
    z-index: 1;
}

.text-block{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: white;
    color: black;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    transition: height 0.5s ease, background-color 0.4s ease, color 0.4s ease, padding 0.4s ease;
    overflow: hidden;
    z-index: 2;
}


.text-block p{
    line-height: 1.5;
    margin-top: 6px;
}

.text-block p:nth-of-type(2){
    display: none;
}

.project:hover .text-block p{
    display: block;
}

.project:hover img{
    height: 100%;
}

.project:hover .text-block{
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.text-block h3{
    width: 100%;
    margin: 6px 0;
}

.project:hover .text-block h3 {
    background: orange;
    color: black;
    padding: 8px 0; 
    margin: 0;        
    width: calc(100% + 40px); 
    position: relative;
    left: -20px; 
    box-sizing: border-box;
}

.project:hover{
    border-bottom: 4px solid orange;
}
