body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid teal;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: teal;
    border-radius: 50%;
    z-index: 10;
}

.hand {
    position: absolute;
    width: 40%;
    height: 2px;
    background: teal;
    top: 50%;
    left: 50%;
    transform-origin: left center;
    transform: rotate(-90deg);
}

.hour {
    width: 30%;
    height: 4px;
    animation: rotateHour 43200s linear infinite;
}

.minute {
    width: 38%;
    height: 3px;
    animation: rotateMinute 3600s linear infinite;
}

.second {
    width: 40%;
    height: 2px;
    animation: rotateSecond 60s linear infinite;
}

 @keyframes rotateHour {
    from { transform: rotate(-90deg); }
    to { transform: rotate(270deg); }
  }

  @keyframes rotateMinute {
    from { transform: rotate(-90deg); }
    to { transform: rotate(270deg); }
  }

  @keyframes rotateSecond {
    from { transform: rotate(-90deg); }
    to { transform: rotate(270deg); }
}