*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.konteiner{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    overflow: visible;
}

.photo{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    border: 8px solid rgb(208, 191, 201);
    transform: translate(-50%,-50%);
    z-index: 1;
}

.ramka{
    position: absolute;
    width: 300px;
    height: 300px;
    border: 10px solid rgb(239, 151, 201);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    z-index: 2;
}
