body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.spinner-container {
    position: relative;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-background {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px dashed #2196F3;
    border-radius: 50%;
    z-index: 1;
}

.loading-arrow {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 5px solid #2196F3; 
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    animation: spin 1.5s linear infinite;
    z-index: 2;
}

@keyframes spin {
    0% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}