.wrapper {
  position: relative;
  width: 600px;
  height: 250px;
  margin: 50px auto;
  perspective: 1000px;
}

.wrapper::before,
.wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #a636b0;
  border: 3px solid #6e2375;
  transition: transform 2s ease; 
  transform-origin: center;
}

.wrapper::before {
  left: 0;
  transform-origin: left center;
}

.wrapper::after {
  right: 0;
  transform-origin: right center;
}

.wrapper:hover::before {
  transform: rotateY(80deg);
}

.wrapper:hover::after {
  transform: rotateY(-80deg);
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  z-index: -1;
}
