*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

img.photo {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    border: 8px solid rgb(208,191,201);
    z-index: 2;
}

body::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 320px;
    height: 320px;
    transform: translate(-50%, -50%) rotate(45deg);
    border: 10px solid rgb(239,151,201);
    z-index: 1;
}
